.DS_Store
.swiftpm
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.crdt-graphs
Sources/CRDT/Documentation.docc/.docc-build
all_symbols.txt
all_identifiers.txt
Example/Packages
Example/.build
Example/CRDTExample.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
devcheck
diff.html
Package.resolved
